<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webproject.entity.customer.Customer">
	<insert id="insert" parameterType="customer">
		insert into customer_tb 
		(cs_email, cs_pw, cs_nick, cs_phone, cs_grade, cs_point,cs_reg)
		values(#{cs_id}, #{cs_pw}, #{cs_nick}, #{cs_tel}, '일반', 0, sysdate)
	</insert>
	
	
	<select id="searchlist" resultType="mainsearch">
		<!-- select *from addroom_tb order by addroom_no-->
		select *from addroom_tb where addroom_mb_name like '%'||#{keyword}||'%' 
	</select>
	
	
</mapper>    